@import '../utils/mixinsMobile.scss';

.list {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 35px;
  width: 100%;
  max-width: 1276px;
  width: 100%;

  @include respond-to(mobile-portrait) {
    flex-direction: column;
    align-items: center;
  }
   @include respond-to(tablet-portrait) {//768px
  }

  @include respond-to(tablet-landscape) {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap:45px;
  }

  @include respond-to(desktop) {
    flex-wrap: nowrap;
    gap:25px;
    
  }
}

.item {
  padding-top: 44px;
  padding-inline: 37px;
  border-radius: 6px;
//   min-width: 289px;
//   min-height: 289px;
width: 400px;
height: 400px;
display: flex;
flex-direction: column;
justify-content: space-between;

  box-shadow: 0 0 80px 0 rgba(44, 44, 45, 0.35);
  background: linear-gradient(140deg, #303134 0%, #282828 51.98%, #282828 92.79%);
  z-index: 10;
  position: relative;
  box-sizing: border-box;
//   flex: 1 1 30%; /* Добавлено для лучшего распределения элементов */
//   aspect-ratio: 1 / 1;

  @include respond-to(mobile-portrait) {
    width: 289px;
    height: 289px;
    padding-top: 30px;
    padding-inline: 23px;
  }

  @include respond-to(mobile) {
    width: 289px;
    height: 289px;
  }

  @include respond-to(tablet-portrait) {
    width: 400px;
    height: 400px;
  }

  @include respond-to(tablet-landscape) {//992px
    width: 400px;
    height: 400px;
  
     
  }

  @include respond-to(desktop) { //1200px
    width: 330px;
    height: 330px;
  }

  @include respond-to(large-desktop) {
    width: 400px;
    height: 400px;
  }
}

.caption {
  font-weight: 600;
  font-size: 26px;
  line-height: 1.231;
  color: #fff;
  // width: 258px;
  margin-bottom: 15px;

  @include respond-to(mobile-portrait) {
    font-size: 22px;
  }
  @include respond-to(mobile) {//320px
     font-size: 22px;
  } 
  @include respond-to(mobile-m) {//375px
  } 
   @include respond-to(mobile-l) {//425px
  } 

@include respond-to(mobile-landscape) {//480px
  font-size: 24px;
  }

  @include respond-to(tablet-portrait) {//768px
    font-size: 26px;
  }

@include respond-to(tablet-landscape) {//992px
  }
@include respond-to(desktop) {//1200px
   font-size: 26px;
  }
@include respond-to(large-desktop) {//1600px
   font-size: 26px;
  }
@include respond-to(tv) {//1902px
   font-size: 26px;
  }

}

.text {
  font-weight: 500;
  font-size: 17px;
  line-height: 1.231;
  color: rgba(255, 255, 255, 0.9);
  // width: 344px;
  // padding-right: 10px;
  margin-bottom: 15px;

  @include respond-to(mobile-portrait) {
    font-size: 12px;
    // width: 199px;
  }
  @include respond-to(mobile) {//320px
  } 
  @include respond-to(mobile-m) {//375px
  } 
   @include respond-to(mobile-l) {//425px
  } 

@include respond-to(mobile-landscape) {//480px
  font-size: 14px;
  }

  @include respond-to(tablet-portrait) {//768px
    font-size: 17px;
  }

@include respond-to(tablet-landscape) {//992px
  }
@include respond-to(desktop) {//1200px
  font-size: 17px;
  }
@include respond-to(large-desktop) {//1600px
  font-size: 17px;
  }
@include respond-to(tv) {//1902px
  font-size: 17px;
  }

}

.image {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: auto;

  & img {
    

      @include respond-to(mobile-portrait) {//0px
         width: 112px;
        height: auto;

  }

  @include respond-to(mobile) {//320px
  } 
  @include respond-to(mobile-m) {//375px
  } 
   @include respond-to(mobile-l) {//425px
  } 

@include respond-to(mobile-landscape) {//480px
   width: 102px;
        height: auto;
  }

  @include respond-to(tablet-portrait) {//768px
     width: 130px;
        height: auto;
  }

@include respond-to(tablet-landscape) {//992px
 width: 146px;
        height: auto;
  }
@include respond-to(desktop) {//1200px
  width: 123px;
        height: auto;
  }
@include respond-to(large-desktop) {//1600px
  width:134px;
        height: auto;
  }
@include respond-to(tv) {//1902px
   width:178px;
        height: auto;
  }

    }
  }

