@import '../utils/mixinsMobile.scss';


.slider-container {
  text-align: center;
  background-color: transparent;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
}

.slider {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-wrapper {
  width: 100%;
  overflow: hidden;
}

.slider-content {
  display: flex;
  transition: transform 0.5s ease-in-out;
  padding-left: 60px;
  overflow: hidden;
  width: 100%;
  padding-top: 70px;
  padding-bottom: 70px;

  @include respond-to(mobile) {//320px
    padding-left: 0px;
     padding-bottom: 100px;
  } 
  @include respond-to(mobile-m) {//375px
  } 
   @include respond-to(mobile-l) {//425px
  } 

@include respond-to(mobile-landscape) {//480px
  }

  @include respond-to(tablet-portrait) {//768px
    padding-left: 60px;
  }

@include respond-to(tablet-landscape) {//992px
  }
@include respond-to(desktop) {//1200px
  padding-left: 60px;
  }
@include respond-to(large-desktop) {//1600px
  padding-left: 60px;
  }
@include respond-to(tv) {//1902px
  }

}

.slide {
  width: 567px;
  height: 363px;
  margin-right: 101px;
  transition: opacity 0.5s ease-in-out;
  position: relative;
  box-sizing: border-box;
  border: 1.5px solid rgba(46, 236, 197, 0.5);
  border-radius: 6px;
  box-shadow: 0px 0px 106px 0px rgba(46, 236, 197, 0.1);

  @include respond-to(mobile) {//320px
      width: 258px;
  height: 100%;
  margin-right: 20px;
  } 
  @include respond-to(mobile-m) {//375px
  } 
   @include respond-to(mobile-l) {//425px
  } 

@include respond-to(mobile-landscape) {//480px
  width: 310px;
  height: 100%;
  margin-right: 40px;
  }

  @include respond-to(tablet-portrait) {//768px
    width: 420px;
  height: 100%;
  margin-right: 40px;
  }

@include respond-to(tablet-landscape) {//992px
  width: 420px;
  height: 100%;
  margin-right: 20px;
  }
@include respond-to(desktop) {//1200px
    width: 450px;
  height: 100%;
  margin-right: 40px;
  }
@include respond-to(large-desktop) {//1600px
  width: 567px;
  height: 363px;

  }
@include respond-to(tv) {//1902px
  width: 567px;
  height: 363px;
  }

  }

.slide img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.prev-arrow, .next-arrow {
  outline: 3px solid rgb(44, 142, 122);
  background: linear-gradient(165.81deg, rgb(25, 32, 31) 16.333%,rgb(50, 57, 57) 90%);
  width: 60px;
  aspect-ratio: 1;
  border: none;
  border-radius: 50%;
  color: white;
  font-size: 2rem;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;

    @include respond-to(mobile) {//320px
      width: 70px;
  aspect-ratio: 1;
  } 

  @include respond-to(mobile-landscape) {//480px
  width: 70px;
  aspect-ratio: 1;
  }
  @include respond-to(tablet-landscape) {//992px
 width: 60px;
  aspect-ratio: 1;
  }
}

.prev-arrow {
  left: 20px;
  z-index: 10;
  top: 50%;

  @include respond-to(mobile) {//320px
    left: 60px;
   top: 300px;
  } 
  @include respond-to(mobile-m) {//375px
  } 
   @include respond-to(mobile-l) {//425px
  } 

@include respond-to(mobile-landscape) {//480px
  left: 130px;
   top: 339px;
  }

  @include respond-to(tablet-portrait) {//768px
    left: 20px;
   top: 212px;
  }

@include respond-to(tablet-landscape) {//992px
  left: 24px;
   top: 212px;
  }
@include respond-to(desktop) {//1200px
  left: 24px;
   top: 224px;
  }
@include respond-to(large-desktop) {//1600px
  left: 20px;
   top: 258px;
  }
@include respond-to(tv) {//1902px
  }


    & svg {
    stroke:rgb(44, 142, 122);
    fill:rgb(44, 142, 122);
    width: 30px;
    height: 30px;
    }
}

.next-arrow {
  left:590px;
  top: 40%;
  rotate: 180deg;

  @include respond-to(mobile) {//320px
     left: 190px;
   top: 230px;
  } 
  @include respond-to(mobile-m) {//375px
  } 
   @include respond-to(mobile-l) {//425px
  } 

@include respond-to(mobile-landscape) {//480px
   left: 270px;
   top: 269px;
  }

  @include respond-to(tablet-portrait) {//768px
    left: 452px;
   top: 146px;
  }

@include respond-to(tablet-landscape) {//992px
  left: 454px;
   top: 150px;
  }
@include respond-to(desktop) {//1200px
  left: 486px;
   top: 160px;
  }
@include respond-to(large-desktop) {//1600px
    left:600px;
    top:200px;
  }
@include respond-to(tv) {//1902px
  left:600px;
    top:200px;
  }

    & svg {
        stroke:rgb(44, 142, 122);
        fill:rgb(44, 142, 122);
        width: 30px;
        height: 30px;
      }
}


@include respond-to(mobile-portrait) {//0px
  }

  @include respond-to(mobile) {//320px
  } 

@include respond-to(mobile-landscape) {//480px
  }

  @include respond-to(tablet-portrait) {//768px
  }

@include respond-to(tablet-landscape) {//992px
  }
@include respond-to(desktop) {//1200px
  }
@include respond-to(large-desktop) {//1600px
  }
@include respond-to(tv) {//1920px
  }