@import '../utils/mixinsMobile.scss';


.form {
    margin-top: 31px;
    margin-bottom: 57px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 922px;
    row-gap: 16px;
    column-gap: 48px;
    width: 100%;
    text-align: left;

    @include respond-to(mobile-portrait) {//0px
      grid-template-columns: repeat(1, 1fr);
    max-width: 437px;
    width: 100%;
  }

  @include respond-to(mobile) {//320px
  } 

@include respond-to(mobile-landscape) {//480px
  }

  @include respond-to(tablet-portrait) {//768px
    grid-template-columns: repeat(1, 1fr);
    max-width: 437px;
  }

@include respond-to(tablet-landscape) {//992px
    grid-template-columns: repeat(1, 1fr);
    max-width: 437px;
  }
@include respond-to(desktop) {//1200px
    grid-template-columns: repeat(1, 1fr);
    max-width: 437px;
  }
@include respond-to(large-desktop) {//1600px
   max-width: 922px;
   grid-template-columns: repeat(2, 1fr);
  }
@include respond-to(tv) {//1920px
   max-width: 922px;
  }

    &__label {
        color: rgba(255, 255, 255, 0.7);
        font-size: 17px;
        font-weight: 400;
        line-height: 1.54;
        letter-spacing: 0%;
        text-align: left;
        width: 100%;
    }

    &__input {
        width: 437px;
        width: 100%;
        height: 48px;
        box-sizing: border-box;
        border: 1.5px solid rgba(255, 255, 255, 0.2);
        border-radius: 41px;
        box-shadow: 0px 0px 38px 0px rgba(255, 255, 255, 0.05);
        background: rgba(255, 255, 255, 0.1);
        padding-left: 20px;

        &--focus:focus {
            color: rgba(255, 255, 255, 0.7);
            font-size: 17px;
            font-weight: 400;
            line-height: 154;
            letter-spacing: 0%;
        }

        &::placeholder {
            color: rgba(255, 255, 255, 0.7);
            font-size: 17px;
            font-weight: 400;
            line-height: 154;
            letter-spacing: 0%;
            text-align: left;
        }
        &--mask {
            color: rgba(255, 255, 255, 0.7);
            font-size: 17px;
            font-weight: 400;
            line-height: 154;
            letter-spacing: 0%;
        }
    }

    

    &__button {
        margin-top: 27px;
        width: 184px;
        height: 52px;
        box-sizing: border-box;
        border: 1.5px solid rgb(46, 236, 197);
        border-radius: 41px;
        box-shadow: 0px 0px 38px 0px rgba(255, 255, 255, 0.05);
        background: rgba(46, 236, 197, 0.1);
        color: rgb(255, 255, 255);
        font-size: 17px;
        font-weight: 400;
        line-height: 1.54;
        letter-spacing: 0%;
        text-align: center;
        padding: 11px 15px;
    }
}

.error-message {
    color: red;
}

.success-message {
    color: #ffffff;
}

@include respond-to(mobile-portrait) {//0px
  }

  @include respond-to(mobile) {//320px
  } 

@include respond-to(mobile-landscape) {//480px
  }

  @include respond-to(tablet-portrait) {//768px
  }

@include respond-to(tablet-landscape) {//992px
  }
@include respond-to(desktop) {//1200px
  }
@include respond-to(large-desktop) {//1600px
  }
@include respond-to(tv) {//1920px
  }