
// Определение брейкпоинтов mobile first
$breakpoints: (
  mobile-portrait: 0px,
  mobile: 320px,
  mobile-m: 375px,
  mobile-l: 425px,
  mobile-landscape: 480px,
  tablet-portrait: 768px,
  tablet-landscape: 992px,
  laptop: 992px,
  desktop: 1200px,
  large-desktop: 1600px,
  tv: 1902px
);

// Миксин для медиазапросов
@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "Breakpoint #{$breakpoint} not found in $breakpoints map.";
  }
}

//------------------------
@include respond-to(mobile-portrait) {//0px
  }

  @include respond-to(mobile) {//320px
  } 
  @include respond-to(mobile-m) {//375px
  } 
   @include respond-to(mobile-l) {//425px
  } 

@include respond-to(mobile-landscape) {//480px
  }

  @include respond-to(tablet-portrait) {//768px
  }

@include respond-to(tablet-landscape) {//992px
  }
@include respond-to(desktop) {//1200px
  }
@include respond-to(large-desktop) {//1600px
  }
@include respond-to(tv) {//1902px
  }
