.section-line-bottom {
  position: relative;
  bottom: 2px;
  width: 100%;
height: 5px;
background: linear-gradient(135.00deg, rgba(42, 188, 158, 0) 0%,rgb(42, 188, 158) 48.646%,rgba(42, 188, 158, 0) 100%);
}