$mobile-portrait-width: 129px;
$mobile-portrait-height: 38px;
$button-font-size-mobile-portrait: 11px;

$mobile-width: 129px;
$mobile-height: 38px;
$button-font-size-mobile: 11px;

$mobile-landscape-width: 129px;
$mobile-landscape-height: 38px;
$button-font-size-mobile-landscape: 11px;

$tablet-portrait-width: 129px;
$tablet-portrait-height: 38px;
$button-font-size-tablet-portrait: 14px;

$tablet-landscape-width: 200px;
$tablet-landscape-height: 57px;
$button-font-size-tablet-landscape: 19px;

$desktop-width: 200px;
$desktop-height: 57px;
$button-font-size-desktop: 19px;

$large-desktop-width: 200px;
$large-desktop-height: 57px;
$button-font-size-large-desktop: 19px;

$tv-width: 200px;
$tv-height: 57px;
$button-font-size-tv: 19px;